body{
    font-family: Ubuntu;
}
#title{
    background-color: rgb(171, 202, 231);
    color: #ffffff;
}
.container-fluid{
    padding: 7% 15%;
}
#title2{
    background-color: rgb(171, 202, 231);
}
.navbar{
    padding-bottom: 5rem;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2rem;
    font-weight: bold;
}
.nav-item{
    padding:0 15px;
}
.nav-link{
    font: size 5rem; ;
}
.download-btn{
    margin: 5% 5% 0 0%;
}
.title-img{
    width: 70%;
    margin-left: 570px;
}
#info{
    background-color:rgb(171, 202, 231) ;
    padding: 7% 15%;
    text-align: center;
    color: rgb(255, 255, 255);;
}
#workout{
    background-color:rgb(171, 202, 231) ;
    text-align: center;
    color: rgb(243, 241, 240);

}
#prem{
    text-align: center;
}
.carousel-item{
    padding: 7% 15%;
}
.prem-img{
    width: 15%;
    border-radius:100% ;
    margin: 20px;
}
#press{
    background-color:rgb(171, 202, 231) ;
    text-align: center;
    padding-bottom :3% ;

}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}